[submodule "hacks/New Path"]
	path = hacks/New Path
	url = git@github.com:JeffGainsNGames/MP1-New-Path.git
    branch = main
[submodule "hacks/Metroid Fool"]
	path = hacks/Metroid Fool
	url = https://github.com/toasterparty/metroid-fool.git
    branch = main
[submodule "hacks/Vanilla-Like/Metroid Prime Museum"]
	path = hacks/Vanilla-Like/Metroid Prime Museum
	url = https://github.com/toasterparty/metroid-prime-museum.git
