[submodule "hacks/New Path"]
	path = hacks/New Path
	url = git@github.com:JeffGainsNGames/MP1-New-Path.git
    branch = main
[submodule "hacks/metroid-fool"]
	path = hacks/metroid-fool
	url = https://github.com/toasterparty/metroid-fool.git
